@import "settings";
@import "functions";
@import "../vendor/bower_components/foundation/scss/foundation";


body {
  background-color: whitesmoke;
}

#menu {
  .top-bar-section ul li{
    background: $dark-grey;
  }

  ul.vertical-center {

    li {
      color: white;
    }

    :hover li {
      background: $oil;
    }

    ul#profile-info {
      padding-top:5px;
      padding-left: 5px;

      li:nth-child(3) {
        font-size: 11px;
        color:grey;
      }
    }

  }
}


#chat {
  background-color: $grey;
  height: calc(100vh - 55px);
}

.breadcrumbs {
  border-radius: 0;
  border:none;
  border-bottom: 2px solid $grey;
}

.without-padding {
  padding:0;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

ul.unstyled {
  list-style-type: none;
}

.img-circle {
  @include border-radius(150px);
}


input.form-control-error {
  margin-bottom: 0;
}


.alert-box.success a {
  color: #005938;
}

.alert-box.success a:hover {
  color: #003823;
}


td > .button {
  margin:0 !important;
}

.alert-box {
  margin-bottom:0;
}
