#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

services:
	- App\Model\Services\StudentService
	- App\Model\Services\LessonService

	menuFactory:
	    class: App\Controls\MenuControl(%user%, %lessonId%, ...)
	    implement: App\Controls\IMenuControlFactory
	    parameters: [user, lessonId]

	chatFactory:
		class: App\Controls\ChatControl(%user%, %year%, ...)
		implement: App\Controls\IChatControlFactory
		parameters: [user, year]

	postsFactory:
		class: App\Controls\PostsControl(%user%, %entity%, ...)
		implement: App\Controls\IPostsControlFactory
		parameters: [user, entity]

	newActivityFactory:
		class: App\Controls\NewActivityControl(%lessonId%, ...)
		implement: App\Controls\INewActivityControlFactory
		parameters: [lessonId]

	questionFormFactory:
		class: App\Forms\QuestionFormFactory(%lessonId%, ...)
		implement: App\Forms\IQuestionFormFactory
		parameters: [lessonId]

	studentFormFactory:
		class: App\Forms\StudentForm(%id%, %currentSchoolYear%, ...)
		implement: App\Forms\IStudentFormFactory
		parameters: [id, currentSchoolYear]



	router: App\RouterFactory::createRouter
	authenticator: App\Model\Services\UserService
	authorizator:
	    class: Nette\Security\Permission
	    factory: App\Security\AclFactory::createAcl





extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    replicator: Kdyby\Replicator\DI\ReplicatorExtension