<div id="chat" ng-init="init({$user->getId()}, '{plink checkUsersInChat!}');users={$users}">
	<ul class="unstyled">
		<img ng-src="{$basePath}/images/spinner-bubble.svg" alt="spinner" ng-show="!users"/>
		<li ng-repeat="user in users">
			<img class="img-circle" ng-src="{$basePath}/images/{{ user.profilePicture }}" width="30" />
			<span>{{ user.name }} {{ user.surname }}</span>
			<span class="right status" ng-class="{ 'online' : user.online }">&#9679;</span>
		</li>
	</ul>
</div>