<nav class="top-bar" data-topbar role="navigation" id="menu">
	<ul class="title-area">
		<li class="name"></li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown">
				<a href="#">Mé předměty</a>
				<ul class="dropdown">
					{if count($userEntity->getTeachings())}
						{foreach $userEntity->getTeachings() as $teaching}
							<li><a href="#">{$teaching->getSubject()} ({$teaching->getClass()->getName()})</a></li>
							<li class="divider"></li>
						{/foreach}
					{else}
						<li><a href="#">Nemáte zapsány žádné předměty</a></li>
					{/if}
				</ul>
			</li>
			<li class="divider"></li>
			<li><a href="#">Vyhledávání</a></li>
			<li class="divider"></li>
			{if $user->isAllowed('settings')}
				<li><a href="{plink Settings:default}">Nastavení</a></li>
			{/if}
		</ul>

		<ul class="right vertical-center">
			<li class="left has-dropdown">
					<a href="#">
						<img class="img-circle " src="{$basePath}/images/{$user->getIdentity()->profilePicture|img:0,45}" alt=""/>
						<ul class="unstyled right" id="profile-info">
							<li>{$user->getIdentity()->name} {$user->getIdentity()->surname}</li>
							<div class="clearfix"></div>
							<li>
								{if $user->isInRole(\App\Model\Entities\User::ROLE_ADMIN)}
									admin
								{elseif $user->isInRole(\App\Model\Entities\User::ROLE_TEACHER)}
									učitel
								{else}
									student
								{/if}
							</li>
						</ul>
					</a>
					<ul class="dropdown text-right">
						<li class="divider"></li>
						<li><a href="#">Nastavení profilu</a></li>
						<li class="divider"></li>
						<li><a href="{plink logout!}">Odhlásit se</a></li>
					</ul>
			</li>
		</ul>


	</section>
</nav>