{block content}
	<div class="row">
		<div class="small-12" id="loginForm">
			<h1>Vítejte!</h1>
			<p>Přihlašte se údaji, které jste dostali od svého učitele. Pokud jste je zapomněli, požádejte jej o nové.</p>
			{control loginForm}
		</div>
	</div>
{/block}